body{
    box-sizing: border-box;
    background-color: rgb(229, 149, 149);
}

.header{
    font-weight: bold;
    font-size: 50px;
    margin:auto;
    color:white;
    width:300px;
    margin-top:80px;
}

.main-board{
    box-sizing: border-box;
    width:550px;
    margin:auto;
    background-color: rgb(250, 15, 15);
    margin-top:50px;
}

.row1, .row2, .row3 {
    display:flex;
    justify-content: center;
}   

.square{
    align-items: center;
    width:180px;
    height: 180px;
    background-color: rgba(250, 15, 15, 0.425);
    color:white;
    text-align: center;
}

.square:hover{
    background-color: rgb(241, 92, 92);
}

.data{
    box-sizing: border-box;
    font-size: 90px;
    margin-top: 35px;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.scoreboard{
    display:flex;
    width:480px;
    height: 180px;;
    color:white;
    font-size: 30px;
    font-weight: bold;
    margin:auto;
    border: 2px solid black;
    text-align: center;
    justify-content: space-around;
    background-color: rgb(241, 34, 34);
    margin-top:30px;
}

.footer{
    width:200px;
    margin:auto;
    margin-top:150px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#square1, #square2, #square3, #square4, #square5, #square6 {
    border-bottom: 5px solid black;
}

#square1, #square2, #square4, #square5, #square7, #square8  {
    border-right: 5px solid black;
}

.turn{
    font-size: 40px;;
}

/*Restart button*/
.restartDiv{
    text-align: center;
    margin:auto;
    margin-top:20px;
}

.restartButton{
    border-radius: 5px;
    color:white;
    background-color: rgb(161, 42, 52);
    width:200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.restartButton:hover{
    background-color: rgb(228, 72, 85);
}
/*Restart button*/
